Repository gftf2011/youtube-001-auth-service: changes, and which lint-staged commands are due for each by the changed paths.
All: npx eslint --fix . --ext .js, npx eslint --fix . --ext .ts

.lintstagedrc.json:

{
  "*.js": ["npx eslint --fix . --ext .js"],
  "*.ts": ["npx eslint --fix . --ext .ts"]
}

refactor: redo project structure
  .eslintignore
  .prettierignore
  auth-service/.gitignore
  auth-service/jest.config.js
  auth-service/package.json
  auth-service/tsconfig-build.json
  auth-service/tsconfig.json
  package.json
Due: npx eslint --fix . --ext .js

chore: create message-relay folder
  message-relay/.gitkeep
Due: none

chore: create email-service folder
  email-service/.gitkeep
Due: none

chore: add .gitkeep file
  auth-service/.gitkeep
Due: none

chore: add express to auth-service package.json
  auth-service/package.json
  package.json
Due: none

chore: add jsonwebtoken to auth-service package.json
  auth-service/package.json
Due: none

chore: add @types/node to auth-service package.json
  auth-service/package.json
Due: none

chore: add pg to auth-service package.json
  auth-service/package.json
Due: none

chore: update auth-service package.json
  auth-service/package.json
Due: none

test: should throw error if email input is empty
  auth-service/src/use-cases/sign-up.use-case.spec.ts
Due: npx eslint --fix . --ext .ts

refactor: move sign-up use case to production file
  auth-service/src/domain/errors/domain.error.ts
  auth-service/src/domain/errors/index.ts
  auth-service/src/domain/errors/invalid-email.error.ts
  auth-service/src/use-cases/sign-up.use-case.spec.ts
  auth-service/src/use-cases/sign-up.use-case.ts
Due: npx eslint --fix . --ext .ts

feat: create use-case contract
  auth-service/src/domain/contracts/use-cases/index.ts
  auth-service/src/domain/contracts/use-cases/sign-up-use-case.interface.ts
  auth-service/src/domain/contracts/use-cases/use-case.interface.ts
  auth-service/src/use-cases/sign-up.use-case.ts
Due: npx eslint --fix . --ext .ts

chore: update .eslintrc.json rules
  .eslintrc.json
  auth-service/src/domain/contracts/use-cases/sign-up-use-case.interface.ts
Due: npx eslint --fix . --ext .ts

chore: update jest.config.js coverage rules
  auth-service/jest.config.js
Due: npx eslint --fix . --ext .js

test: should throw error if email input is null
  auth-service/src/use-cases/sign-up.use-case.spec.ts
Due: npx eslint --fix . --ext .ts

test: should throw error if email input is undefined
  auth-service/src/use-cases/sign-up.use-case.spec.ts
Due: npx eslint --fix . --ext .ts

test: should throw error if email input does not have an @
  auth-service/src/use-cases/sign-up.use-case.spec.ts
Due: npx eslint --fix . --ext .ts

test: should throw error if email input does not have a domain
  auth-service/src/use-cases/sign-up.use-case.spec.ts
Due: npx eslint --fix . --ext .ts

test: should throw error if email input does not have an address
  auth-service/src/use-cases/sign-up.use-case.spec.ts
Due: npx eslint --fix . --ext .ts

test: should throw error if email input ends with a dot
  auth-service/src/use-cases/sign-up.use-case.spec.ts
Due: npx eslint --fix . --ext .ts

test: should throw error if email input has more than one consecutive dot
  auth-service/src/use-cases/sign-up.use-case.spec.ts
Due: npx eslint --fix . --ext .ts

test: should throw error if email input has no dot between address
  auth-service/src/use-cases/sign-up.use-case.spec.ts
Due: npx eslint --fix . --ext .ts

test: should throw error if email input has a white space
  auth-service/src/use-cases/sign-up.use-case.spec.ts
Due: npx eslint --fix . --ext .ts

test: should throw error if first_name input is undefined
  auth-service/src/domain/contracts/use-cases/sign-up-use-case.interface.ts
  auth-service/src/domain/errors/index.ts
  auth-service/src/domain/errors/invalid-first-name.error.ts
  auth-service/src/use-cases/sign-up.use-case.spec.ts
  auth-service/src/use-cases/sign-up.use-case.ts
Due: npx eslint --fix . --ext .ts

test: should throw error if first_name input is null
  auth-service/src/use-cases/sign-up.use-case.spec.ts
  auth-service/src/use-cases/sign-up.use-case.ts
Due: npx eslint --fix . --ext .ts

test: should throw error if first_name input is empty
  auth-service/src/use-cases/sign-up.use-case.spec.ts
  auth-service/src/use-cases/sign-up.use-case.ts
Due: npx eslint --fix . --ext .ts

test: should throw error if first_name input has only one character
  auth-service/src/use-cases/sign-up.use-case.spec.ts
  auth-service/src/use-cases/sign-up.use-case.ts
Due: npx eslint --fix . --ext .ts

test: should throw error if first_name input has a surname with one character
  auth-service/src/use-cases/sign-up.use-case.spec.ts
  auth-service/src/use-cases/sign-up.use-case.ts
Due: npx eslint --fix . --ext .ts

test: should throw error if first_name has only white spaces
  auth-service/src/use-cases/sign-up.use-case.spec.ts
Due: npx eslint --fix . --ext .ts

feat: email trimming and convert to lower case
  auth-service/src/use-cases/sign-up.use-case.ts
Due: npx eslint --fix . --ext .ts

fix: deny value inside for each loop in sign-up use case file
  auth-service/src/use-cases/sign-up.use-case.ts
Due: npx eslint --fix . --ext .ts

test: should throw error if last_name is undefined
  auth-service/src/domain/contracts/use-cases/sign-up-use-case.interface.ts
  auth-service/src/domain/errors/index.ts
  auth-service/src/domain/errors/invalid-last-name.error.ts
  auth-service/src/use-cases/sign-up.use-case.spec.ts
  auth-service/src/use-cases/sign-up.use-case.ts
Due: npx eslint --fix . --ext .ts

test: should throw error if last_name is null
  auth-service/src/use-cases/sign-up.use-case.spec.ts
  auth-service/src/use-cases/sign-up.use-case.ts
Due: npx eslint --fix . --ext .ts

test: should throw error if last_name in empty
  auth-service/src/use-cases/sign-up.use-case.spec.ts
  auth-service/src/use-cases/sign-up.use-case.ts
Due: npx eslint --fix . --ext .ts

test: should throw error if last_name has only one character
  auth-service/src/use-cases/sign-up.use-case.spec.ts
  auth-service/src/use-cases/sign-up.use-case.ts
Due: npx eslint --fix . --ext .ts

test: should throw error if last_name has a surname with one character
  auth-service/src/use-cases/sign-up.use-case.spec.ts
  auth-service/src/use-cases/sign-up.use-case.ts
Due: npx eslint --fix . --ext .ts

test: should throw error if last_name has only white spaces
  auth-service/src/use-cases/sign-up.use-case.spec.ts
Due: npx eslint --fix . --ext .ts

refactor: remove unnecessary trim in first_name validation
  auth-service/src/use-cases/sign-up.use-case.ts
Due: npx eslint --fix . --ext .ts

test: should throw error if password is undefined
  auth-service/src/domain/contracts/use-cases/sign-up-use-case.interface.ts
  auth-service/src/domain/errors/index.ts
  auth-service/src/domain/errors/invalid-password.error.ts
  auth-service/src/use-cases/sign-up.use-case.spec.ts
  auth-service/src/use-cases/sign-up.use-case.ts
Due: npx eslint --fix . --ext .ts

test: should throw error if password is null
  auth-service/src/use-cases/sign-up.use-case.spec.ts
  auth-service/src/use-cases/sign-up.use-case.ts
Due: npx eslint --fix . --ext .ts
